<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/colegio_corral</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <mapping class="com.apolo.model.AsignaturaEntity"/>
    <mapping class="com.apolo.model.AcudienteEntity"/>
    <mapping class="com.apolo.model.AdministrativoEntity"/>

    <mapping class="com.apolo.model.CampoEstudianteEntity"/>
    <mapping class="com.apolo.model.CampoFormularioEntity"/>
    <mapping class="com.apolo.model.ClaseEntity"/>
    <mapping class="com.apolo.model.CursoEntity"/>
    <mapping class="com.apolo.model.EstudianteEntity"/>
    <mapping class="com.apolo.model.FormularioAdministrativoEntity"/>
    <mapping class="com.apolo.model.FormularioMatriculaEntity"/>
    <mapping class="com.apolo.model.FormularioObservadorEntity"/>
    <mapping class="com.apolo.model.FormularioProfesorEntity"/>
    <mapping class="com.apolo.model.GradoEntity"/>
    <mapping class="com.apolo.model.HorarioAsignaturaEntity"/>
    <mapping class="com.apolo.model.HorarioCursoEntity"/>
    <mapping class="com.apolo.model.LogUsuarioEntity"/>
    <mapping class="com.apolo.model.MatriculaEstudianteEntity"/>

    <mapping class="com.apolo.model.PeriodoEntity"/>
    <mapping class="com.apolo.model.PeriodoAcademicoEntity"/>
    <mapping class="com.apolo.model.ProfesorEntity"/>
    <mapping class="com.apolo.model.RolEntity"/>
    <mapping class="com.apolo.model.RolUsuarioEntity"/>
    <mapping class="com.apolo.model.SedeEntity"/>
    <mapping class="com.apolo.model.SesionEntity"/>
    <mapping class="com.apolo.model.UsuarioEntity"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>